                    <hr class="hr-line">
                    <h3 class="title" style="font-size:30px;">
                        {% if site.email %}<a class="social-btn" href="mailto:739827282@qq.com" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i></a>{% endif %}
                        {% if site.steam %}<a class="social-btn" href="http://steamcommunity.com/id/739827282" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-steam-square"></i></a>{% endif %}
                        {% if site.weibo %}<a class="social-btn" href="http://www.weibo.com/3204888104" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-weibo"></i></a>{% endif %}    
                  </h3>
